<section class="container">
  <div class="card">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body">{{post.content}}</div>
    <div class="card-footer">{{post.user.username}}</div>
    <div class="card-footer">{{format_date post.createdAt}}</div>
    <a href="/post/comment/{{post.id}}/">
      <button class="btn btn-info" id="Comment">Post a comment</button>
    </a>
  </div>
  <section class="flex-row justify-center">
    {{#each post.comments as |comment|}}
    {{> comment-details}}
    {{/each}}
  </section>
</section>